<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>STFGAMES - LA PRUEBA PILOTO DEL ROBOT FOSTENA BETA</title>
</head>
<body>
<h1>El juego del laberinto</h1>
<a th:href="@{/fostena/laberinto}"><input type="button" style="color: lightgreen" value="Subir laberinto"/></a>

<textarea rows="10" cols="50" placeholder="Ingrese su mapa"></textarea>
<br>
<a th:href="@{/fostena/laberinto}"><input type="button" style="color: lightgreen" value="Iniciar Juego"/></a>

</body>
</html>